{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "quoteProps": "consistent"
      }
    }
  ]
}