@keyframes rotating {
    to{
        transform: rotate3d(0,1,0,360deg);
    }
}
.backgroundCustomize {
    background-image: url("../assets/Customize/background.svg");
    background-size: cover;
    background-position: "center center";
  }
  .noSelect{
    user-select: none;
    pointer-events: none;
  }