.alertin{


    animation: .7s fadein ease-out;
    
    
}

.alertout {
    animation: .7s fadeout ease-out;

}
.resetAlertSuccess{
    animation: .2s colorChangeSuccess ease-in;
}
.resetAlertError{
    animation: .2s colorChangeError ease-in;
}


@keyframes fadein {
    from{
        
        opacity: 0%;
     
    }
    to{
        
        opacity: 100%;
  
    }
    
}

@keyframes fadeout {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
    
}

@keyframes colorChangeSuccess{
    from{
        color:white;
        
    }
    to{
        color:#43765b;
    }
}
@keyframes colorChangeError{
    from{
        color:white;
        
    }
    to{
        color:#99333f;
    }
}
strong{
    font-family: 'Slabo 27px';
    font-size:22px;
}
.rounded{
    background-color: #585454;
    font-size:23px;
}