@keyframes popup {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animated {
    animation-name: popup;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .addBackgroundGettingStarted {
    background-image: url("../assets/GettingStarted/background.svg");
    background-size: cover;
    background-color: black;
    background-repeat: unset;
    background-position: 30%;
    height:100%;
    
  }

