.alertin{


    animation: .7s fadein ease-out;
    
    
}

.alertout {
    animation: .7s fadeout ease-out;

}
.resetAlertSuccess{
    animation: .2s colorChangeSuccess ease-in;
}
.resetAlertError{
    animation: .2s colorChangeError ease-in;
}


@keyframes fadein {
    from{
        
        opacity: 0%;
     
    }
    to{
        
        opacity: 100%;
  
    }
    
}

@keyframes fadeout {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
    
}

@keyframes colorChangeSuccess{
    from{
        color:white;
        
    }
    to{
        color:#43765b;
    }
}
@keyframes colorChangeError{
    from{
        color:white;
        
    }
    to{
        color:#99333f;
    }
}
strong{
    font-family: 'Slabo 27px';
    font-size:22px;
}
.rounded{
    background-color: #585454;
    font-size:23px;
}
@keyframes slide-in-elliptic-top-fwd{0%{transform:translateY(-600px) rotateX(-30deg) scale(0);transform-origin:50% 100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% 1400px;opacity:1}}
@keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}
@keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}