
@keyframes fadein{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

#nav{
    animation-name: fadein;
    animation-duration: 0.3s;
}
@keyframes fadeslideout{
    from{
        opacity:"100%";
    }
    to{
        opacity: "5%";
    }
}
