@keyframes slideright{
    from{
        left:10%;
    }
    to{
        left:initial;
    }
}
@keyframes zoomIn {
    to{
        transform: scale(1.1);
    }
    
}
@keyframes floatz {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-10px);
	}
	100% {
		
		transform: translatey(0px);
	}
    
}
/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}
@keyframes rotationAndZoom {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(359deg);
  }
  100%{
    transform: scale(1.1);
  }
}

.addbg{
    background-image: url("../assets/LoginPageSignUpPage/backgroundSignUp.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#customize {
  position: fixed;
  background-size: cover;
  background-position: "center center";
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: -1;
}


.secbuttAnim {
 
    color: #ffffff;
    padding: 30px;
    text-align: center;
    border-radius: 3px;
  }
  
  
  /* The animation starts here */
  .secbuttAnim {
    position: relative;
  }
  
  .secbuttAnim:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, white, #efd37b,white);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    animation: frame-enter 0.5s forwards ease-in-out reverse, gradient-animation 2.5s ease-in-out infinite;
  }


  
  .regLogo{
    animation:floatz 5s infinite;
  }

  @keyframes kenburns-top{0%{transform:scale(1) translateY(0);transform-origin:50% 16%}100%{transform:scale(1.25) translateY(-15px);transform-origin:top}}