.codeBack .ReactInputVerificationCode__item{
    border: 3px solid black;
}
.codeBack .ReactInputVerificationCode__item.is-active{
    border: 4px solid black;
}
.codeBack{
    --ReactInputVerificationCode-itemWidth: 4vmax;
    --ReactInputVerificationCode-itemHeight: 4.5vmax;
    --ReactInputVerificationCode-itemSpacing: 3vmin;
}