.addBackgroundSupport{
    background-image: url("../assets/Support/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
@keyframes fadeIn {
    from{opacity: 0%;}
    to{opacity: 100%;}
}